@media screen and (min-width: 601px) {
    div.div.div.text-center {
      font-size: 80px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.div.div.text-center {
      font-size: 30px;
    }
}

.heart:hover{
  transform: scale(1.5);
  transition: 0.5s;
}
.heart{
  transition: 0.5s;
}

.clock{
  height: 300px;
  line-height: 300px;
  text-align: center;
  padding: 0 0 0 0;
  box-shadow: -3px -3px 7px rgba(255,255,255,0.05),
               3px 3px 5px rgba(0,0,0,0.5);
}
.clock .display{
  background: url(https://64.media.tumblr.com/0c0ec2ef9c069b0b605775169e3fbbc1/tumblr_oq9jmxGWw81qeyvpto1_500.gifv) cover;
  font-size: 60px;
  color: rgb(248, 255, 187);
  letter-spacing: 2px;
}
